.container-item {
    display: flex;
    justify-content: space-between;
    font-size: smaller;
    align-items: center;
    width: 80%;
    margin-top: 20px;
}

.actions-container {
    display: flex;
    gap: 20px;
}